<ion-header>
  <ion-toolbar>
    <ion-title>Liste des vidéos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button *ngIf="currentPath" (click)="goBack()" class="ion-margin">
    ← Retour
  </ion-button>

  <ion-list>
    <ion-list-header>Dossiers</ion-list-header>
    <ion-item button *ngFor="let folder of folders" (click)="onFolderClick(folder)">
      <ion-icon slot="start" name="folder"></ion-icon>
      {{ folder }}
    </ion-item>
  </ion-list>

  <ion-list-header>Vidéos</ion-list-header>

  <ion-grid>
    <ion-row>
      <ion-col size="6" sizeMd="4" sizeLg="3" *ngFor="let video of videos">
        <ion-card (click)="onVideoClick(video)">
          <img [src]="getThumbnail(video)" alt="Vignette de {{ video }}">
          <ion-card-header>
            <ion-card-title>{{ getVideoTitle(video) }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
