<ion-header>
  <ion-toolbar>
    <ion-title>Liste des vidéos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button *ngIf="currentPath" (click)="goBack()">
    ← Retour
  </ion-button>

  <ion-list>
    <ion-list-header>Dossiers</ion-list-header>
    <ion-item button *ngFor="let folder of folders" (click)="onFolderClick(folder)">
      <ion-icon slot="start" name="folder"></ion-icon>
      {{ folder }}
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>Vidéos</ion-list-header>
    <ion-item button *ngFor="let video of videos" (click)="onVideoClick(video)">
      <ion-icon slot="start" name="videocam"></ion-icon>
      {{ video }}
    </ion-item>
  </ion-list>
</ion-content>
